PORT=4242
MONGO_URI=mongodb://127.0.0.1:27017/corelab_lms
JWT_SECRET=change_me_to_a_long_random_secret_in_production
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10
CLIENT_URL=http://localhost:3000

# Pour Docker, remplacer MONGO_URI par :
# MONGO_URI=mongodb://mongo:27017/corelab_lms
